html {
    height: 100%;
}

body {
    background: #FFE4D6;
    background: linear-gradient(0deg,rgba(255, 145, 133, 1) 0%, rgba(255, 237, 235, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    color: #FF5A47;
    font-family: Helvetica;
    text-align: left;
    font-size: 80px;
    margin-left: 20px;
}

h2 {
    color: #FF9185;
    font-family: Helvetica;
    text-align: left;
    font-size: 60px;
    margin-left: 20px;
    font-weight: lighter;
}

h3 {
    color: #0D1821;
    font-family: Georgia;
    text-align: center;
    font-size: 40px;
}

p {
    color: #0D1821;
    font-family: Georgia;
    text-align: center;
    font-size: 20px;
}

button {
    margin: 5px;
    border-radius: 12px;
    border: none;
    padding: 12px 28px;
    font-family: Arial;
    font-size: 20px;
    background-color: #FF5A47;
    color: white;
}

button:hover {
    background-color: #FF9185;
}

button:focus {
    border: 2px solid #FF351F;
    outline: 2px solid #FF351F;
}

input {
    border: 2px solid #FF5A47;
    border-radius: 4px;
    padding: 10px;
    font-family: Helvetica;
    font-size: 20px;
}

input:focus {
    border: 2px solid #FF351F;
    outline: 2px solid #FF351F;
}

div {
    margin-left: 100px;
    margin-right: 100px;
}

div#intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button#button1 {
    width: 150px;
}

div#form1 {
    display: none;
    justify-content: center;
    margin-top: 40px;
}

div#riddle1 {
    display: none;
}

div#riddle2 {
    display: none;
}

div#riddle3 {
    display: none;
}

div#riddle4 {
    display: none;
}

div#riddle5 {
    display: none;
}

div#solution {
    display: none;
}